* {
  font-family: monospace;
  color: whitesmoke;
}
label {
  color: black;
}
label {
  color: black;
}
body {
  font-family: monospace;
  font-size: 1rem;
  overflow: scroll;
  margin: 0;
  /*   background: url('../images/rental1.jpg');
  background-size: cover; */
  /* background: gold; */
  /*  background: url('  https://getwallpapers.com/wallpaper/full/5/6/6/1348208-vertical-very-cool-car-wallpapers-2560x1600-notebook.jpg'); */
  background: url('../images/rent.jpg');
  background-size: cover;
  font-weight: bolder;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

ul {
  list-style-type: none;
  margin-left: 0;
  display: flex;
  justify-content: flex-end;
  list-style: none;
  gap: 1rem;
}
img {
  min-width: 256px;
  min-height: 256px;
  max-width: 400px;
  max-height: 400px;
  gap: 2rem;
}
.listNav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 1rem;
}
.container-grid {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(auto, 1fr);
}
.card {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 1rem;
  gap: 1rem;
  margin: 1rem;
  margin-right: 2rem;
  background: #333333;
  border-radius: 2rem;
}
.search-results-flex {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.card:hover {
  box-shadow: 1rem 1rem 1rem royalblue;
  transition: 1.5s;
  background: black;
  opacity: 0.9;
}
.homeHeader {
  display: flex;
  color: darkblue;
  font-weight: 900;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.nav {
  display: flex;
  align-items: center;
  padding: 0.4rem;
  min-width: 50rem;
  border-bottom: 0.4rem solid red;
}

.nav:hover {
  transition: 1.2s;
  border-bottom: 0.4rem solid blue;
}
.spell {
  color: red;
  font-family: monospace;
}
.spell:hover {
  color: red;
  font-family: cursive;
  transition: 1.2s;
}

.homeHeader {
  font-family: cursive;
  border-bottom: 0.4rem solid blue;
  max-width: 37rem;
  justify-self: center;
}
button {
  padding: 0.6rem;
  background: royalblue;
  color: white;
  cursor: pointer;
  font-family: monospace;
}
button:hover {
  border-radius: 0.8rem;
  background: darkblue;
  transition: 1.5s;
  box-shadow: 1rem 1rem 1rem black;
}
input {
  padding: 0.6rem;
  background: royalblue;
  color: white;
}
input::placeholder {
  color: white;
}
input:focus {
  background: darkblue;
  transition: 1.5s;
}
.spellHeader {
  cursor: pointer;
  color: black;
}

.material-symbols-outlined {
  font-size: 1.2rem;
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
