.nav {
  display: flex;
  align-items: center;
  padding: 0.4rem;
  min-width: 50rem;
  border-bottom: 0.4rem solid red;
}

.nav:hover {
  transition: 1.2s;
  border-bottom: 0.4rem solid blue;
}
.spell {
  color: orange;
  font-family: monospace;
}
.spell:hover {
  color: red;
  font-family: cursive;
  transition: 1.2s;
}
ul {
  margin-left: 0;
  display: flex;
  justify-content: flex-end;
  list-style: none;
  gap: 1rem;
}
.homeHeader {
  font-family: cursive;
  border-bottom: 0.4rem solid blue;
  max-width: 37rem;
  justify-self: center;
}
button {
  padding: 0.6rem;
  background: linear-gradient(to right, blue, purple);
  color: white;
  cursor: pointer;
  font-family: monospace;
}
button:hover {
  border-radius: 0.4rem;
  background: black;
  transition: 1.5s;
}
